body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(img.png);
    background-size: cover;
    background-attachment: fixed;
}
*{
    box-sizing: border-box;
}
.contenedor{
    width:100%;
    padding:15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 30px;
    height: 380px;
}
h1{
    text-align: center;
    color: #334d77;
    font-size: 42px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    border: 1px;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: rgb(66, 105, 187);
    font-size: 20px;
    background: #a6bada;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.link{
    text-decoration: none;
    color:#1a2537;
    font-weight: 500;
}
.link:hover{
    color:cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 5%;
    }
}